/* 후손 선택자 */
section h1{
    background-color: mediumslateblue;
    color: whitesmoke;
}
/* 자식 선택자 */
section > p{
    color: aqua;
    font-size: 1.2em;
    font-weight: 900;
}
#aa + p {
    background-color:  olive;
}
/* 인접 선택자 */
#div-test+div{
    background-color: rgb(35, 171, 175);
}
/* #div-test~div{
    font-weight: 700;
    color: rgb(37, 107, 107);
} */

/* 속성 선택자 
    선택자[속성]*/

    /* 우선순위에 따라 적용되므로 위에 적용한 스타일로 인해
    스타일이 적용 안되어 스타일 속성을 변경 */
    /* id 속성을 가진 요소를 선택 */
.div-class [id]{
    border: 1px solid black;
}
/* div 중에 name 속성값이 name1과 일치하는 태그 */
.div-class [id=name1]{
    color: green;
}
/* class 속성값이 div로 시작되는  */
.div-class[class^=div]{
    background-color: pink;
}
/* id 속성의 값이 name을 포함하는 */
.class-div[id*=name]{
    background-color: red;
}
/* clall 속성의 값이 class로 끝나는 */
div[class$=class]{
    padding: 10px;
}
/* class 속성의 값에 p20이 표함되어 있는 경우
    (속성 값이 띄어쓰기로 구분) */
div[class=p20]{
    padding:  40px;
}